---
layout: default
title: Photography
permalink: /photography/
---

<h1>{{ page.title }}</h1>

<p>Below are two example galleries. The first gallery illustrates basic usage. The second gallery illustrate how to include several image galleries into one entry to create more complex structures and tell better stories.</p>

{% assign count = 0 %}
{% assign elements_per_row = 2 %}
{% assign align = "left" %}
{% for gallery in site.data.galleries.overview %}
{% if count == 0 %}<div class="row">{% endif %}
  <div class="half-width gallery-preview {{ align }}">
    <h3>{{ gallery.title }}</h3>
    <a href="{{ site.url }}{{ site.baseurl }}/photography/{{ gallery.directory }}.html">
      <img alt="{{ gallery.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/photography/{% if gallery.image_path %}{{ gallery.image_path }}{% else %}{{ gallery.directory }}{% endif %}/{{ gallery.preview.thumbnail }}" />
    </a>
  </div>
{% if count == 1 %}</div>{% endif %}
{% assign count = count | plus: 1 %}
{% assign align = "right" %}
{% if count >= elements_per_row %} {% assign align = "left" %} {% assign count = 0 %} {% endif %}
{% endfor %}

{% for i in (count..elements_per_row) %}
<div class="half-width gallery-preview"></div>
{% endfor %}
